{% extends 'base.html.twig' %}

{% block title %}{{ owner.familyName }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ owner.firstname }}</h1>
        <h1>{{ owner.familyName }}</h1>
        <h1>{{ owner.address }}</h1>
        <h1>{{ owner.country }}</h1>
        {% for room in owner.rooms %}
            <tr>
                <td>{{ room }}</td>
                <td><a href="{{ path('room_show', {'id': room.id}) }}">show</a></td>
            </tr>
        {% endfor %}
    </div>

{% endblock %}